## Database Interaction

In [1]:
# Creating and connecting to a SQLite database
import sqlite3

# Create a connection to the SQLite database (it will create the file if it doesn't exist)
conn = sqlite3.connect('employees.db')

# Create a cursor object to execute SQL commands
cursor = conn.cursor()

# Create a table for employees
cursor.execute('''CREATE TABLE IF NOT EXISTS employees (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    first_name TEXT NOT NULL,
    last_name TEXT NOT NULL,
    department TEXT NOT NULL,
    monthly_salary REAL NOT NULL,
    start_date TEXT NOT NULL,
    tax REAL
)''')

# Commit the changes and close the connection
conn.commit()
conn.close()

# Inserting data into the employees table
def insert_employee(first_name, last_name, department, monthly_salary, start_date, tax):
    conn = sqlite3.connect('employees.db')
    cursor = conn.cursor()
    cursor.execute('''INSERT INTO employees (first_name, last_name, department, monthly_salary, start_date, tax)
                      VALUES (?, ?, ?, ?, ?, ?)''', (first_name, last_name, department, monthly_salary, start_date, tax))
    conn.commit()
    conn.close()

In [3]:
# insert a single record
insert_employee('John', 'Doe', 'IT', 5000, '2023-01-01', 700)
# insert multiple records
employees = [ ('Jane', 'Smith', 'HR', 6000, '2023-02-01', 840),
                ('Alice', 'Johnson', 'Finance', 7000, '2023-03-01', 980),
                ('Bob', 'Brown', 'Marketing', 5500, '2023-04-01', 770) ]
for emp in employees:
    insert_employee(*emp)

In [4]:
# Select column with specific conditions
def select_employees_by_department(department):
    conn = sqlite3.connect('employees.db')
    cursor = conn.cursor()
    cursor.execute('''SELECT * FROM employees WHERE department = ?''', (department,))
    results = cursor.fetchall()
    conn.close()
    return results

In [5]:
# Join two tables (if needed)
# creating another table to join with, you can use a JOIN statement.
def create_departments_table():
    conn = sqlite3.connect('employees.db')
    cursor = conn.cursor()
    cursor.execute('''CREATE TABLE IF NOT EXISTS departments (
        department_name TEXT PRIMARY KEY
    )''')
    cursor.execute('''INSERT OR IGNORE INTO departments (department_name) VALUES
                      ('IT'), ('HR'), ('Finance'), ('Marketing')''')
    conn.commit()
    conn.close()
create_departments_table()

# Joining employees with departments
def join_employees_departments():
    conn = sqlite3.connect('employees.db')
    cursor = conn.cursor()
    cursor.execute('''SELECT e.first_name, e.last_name, e.department, d.department_name
                      FROM employees e
                      JOIN departments d ON e.department = d.department_name''')
    results = cursor.fetchall()
    conn.close()
    return results

In [ ]:
# Update rows
def update_employee_salary(employee_id, new_salary):
    conn = sqlite3.connect('employees.db')
    cursor = conn.cursor()
    cursor.execute('''UPDATE employees SET monthly_salary = ? WHERE id = ?''', (new_salary, employee_id))
    conn.commit()
    conn.close()
    
# delete rows
def delete_employee(employee_id):
    conn = sqlite3.connect('employees.db')
    cursor = conn.cursor()
    cursor.execute('''DELETE FROM employees WHERE id = ?''', (employee_id,))
    conn.commit()
    conn.close()
    
# Multi operations at once (Does not support multi threading)
def perform_multi_operations():
    conn = sqlite3.connect('employees.db')
    cursor = conn.cursor()
    
    # Update salary for employee with id 1
    cursor.execute('''UPDATE employees SET monthly_salary = ? WHERE id = ?''', (6000, 1))
    
    # Delete employee with id 2
    cursor.execute('''DELETE FROM employees WHERE id = ?''', (2,))
    
    conn.commit()
    conn.close()